<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OnlineNoticeBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
   <servlet>
        <servlet-name>CheckUserType</servlet-name>
        <servlet-class>Online.Notice.Board.CheckUserType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>Online.Notice.Board.StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogin</servlet-name>
        <servlet-class>Online.Notice.Board.StaffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfile</servlet-name>
        <servlet-class>Online.Notice.Board.StudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>Online.Notice.Board.Image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffProfile</servlet-name>
        <servlet-class>Online.Notice.Board.StaffProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffImage</servlet-name>
        <servlet-class>Online.Notice.Board.StaffImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogout</servlet-name>
        <servlet-class>Online.Notice.Board.StaffLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogout</servlet-name>
        <servlet-class>Online.Notice.Board.StudentLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdateProfile</servlet-name>
        <servlet-class>Online.Notice.Board.StudentUpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdatePhoto</servlet-name>
        <servlet-class>Online.Notice.Board.StudentUpdatePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSaveUpdate</servlet-name>
        <servlet-class>Online.Notice.Board.StudentSaveUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdateProfile</servlet-name>
        <servlet-class>Online.Notice.Board.StaffUpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffUpdatePhoto</servlet-name>
        <servlet-class>Online.Notice.Board.StaffUpdatePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSaveUpdate</servlet-name>
        <servlet-class>Online.Notice.Board.StaffSaveUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistraion</servlet-name>
        <servlet-class>Online.Notice.Board.StudentRegistraion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegistration</servlet-name>
        <servlet-class>Online.Notice.Board.StaffRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotice</servlet-name>
        <servlet-class>Online.Notice.Board.AddNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNotice</servlet-name>
        <servlet-class>Online.Notice.Board.SearchNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNotice</servlet-name>
        <servlet-class>Online.Notice.Board.ViewNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchNotice</servlet-name>
        <servlet-class>Online.Notice.Board.StaffSearchNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>Online.Notice.Board.download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserType</servlet-name>
        <url-pattern>/CheckUserType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogin</servlet-name>
        <url-pattern>/StaffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfile</servlet-name>
        <url-pattern>/StudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffProfile</servlet-name>
        <url-pattern>/StaffProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffImage</servlet-name>
        <url-pattern>/StaffImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogout</servlet-name>
        <url-pattern>/StaffLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogout</servlet-name>
        <url-pattern>/StudentLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdateProfile</servlet-name>
        <url-pattern>/StudentUpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdatePhoto</servlet-name>
        <url-pattern>/StudentUpdatePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSaveUpdate</servlet-name>
        <url-pattern>/StudentSaveUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdateProfile</servlet-name>
        <url-pattern>/StaffUpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffUpdatePhoto</servlet-name>
        <url-pattern>/StaffUpdatePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSaveUpdate</servlet-name>
        <url-pattern>/StaffSaveUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistraion</servlet-name>
        <url-pattern>/StudentRegistraion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegistration</servlet-name>
        <url-pattern>/StaffRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNotice</servlet-name>
        <url-pattern>/AddNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNotice</servlet-name>
        <url-pattern>/SearchNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNotice</servlet-name>
        <url-pattern>/ViewNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchNotice</servlet-name>
        <url-pattern>/StaffSearchNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
       <!--  <servlet>
        <servlet-name>Image1</servlet-name>
        <servlet-class>notice.board.Image</servlet-class>
    </servlet> -->
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>notice.board.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsers</servlet-name>
        <servlet-class>notice.board.SearchUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUsers</servlet-name>
        <servlet-class>notice.board.AdminUpdateUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUsers</servlet-name>
        <servlet-class>notice.board.AdminDeleteUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSaveUpdate</servlet-name>
        <servlet-class>notice.board.AdminSaveUpdate</servlet-class>
    </servlet>
   <!-- <servlet>
        <servlet-name>AddNotice1</servlet-name>
        <servlet-class>notice.board.AddNotice</servlet-class>
    </servlet> -->
    <servlet>
        <servlet-name>AdminAddNotice</servlet-name>
        <servlet-class>notice.board.AdminAddNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>notice.board.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchNotice</servlet-name>
        <servlet-class>notice.board.AdminSearchNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateNotice</servlet-name>
        <servlet-class>notice.board.AdminUpdateNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSaveUpdateNotice</servlet-name>
        <servlet-class>notice.board.AdminSaveUpdateNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteNotice</servlet-name>
        <servlet-class>notice.board.AdminDeleteNotice</servlet-class>
    </servlet>
<!--     <servlet-mapping>
        <servlet-name>Image1</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping> -->
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsers</servlet-name>
        <url-pattern>/SearchUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUsers</servlet-name>
        <url-pattern>/AdminUpdateUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUsers</servlet-name>
        <url-pattern>/AdminDeleteUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSaveUpdate</servlet-name>
        <url-pattern>/AdminSaveUpdate</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>AddNotice1</servlet-name>
        <url-pattern>/AddNotice</url-pattern>
    </servlet-mapping> -->
    <servlet-mapping>
        <servlet-name>AdminAddNotice</servlet-name>
        <url-pattern>/AdminAddNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchNotice</servlet-name>
        <url-pattern>/AdminSearchNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateNotice</servlet-name>
        <url-pattern>/AdminUpdateNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSaveUpdateNotice</servlet-name>
        <url-pattern>/AdminSaveUpdateNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteNotice</servlet-name>
        <url-pattern>/AdminDeleteNotice</url-pattern>
    </servlet-mapping>

</web-app>